body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

#buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}