#clickCounter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    max-width: fit-content;
    padding: 20px;
    border-radius: 5px;
    background-color: rgb(237, 237, 237);
}

#buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

h1 {
    margin-bottom: 5px;
}

p#counter {
    font-size: 40px;
}

button {
    border-radius: 2px;
    border-width: 0px;
    background-color: #cacaca;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 4px;
    padding-bottom: 4px;
    font-size: 16px;
}

button:hover {
    box-shadow: 0 0 12px #aaaaaa inset;
}

button:active {
    background-color: #aaaaaa;
}